{% extends "layout.html" %}
{% load custom_filters %}
{% block title %}
    Kudura: Meter data for {{ meter_number }}
{% endblock %}

{% block content %}
<div class="body-container">
<h2>Meter data for {{ meter_number }}</h2> 
<div> 
    <div style="margin-bottom:5px;">
    <label>Choose time range: </label>
    <select name="range" id="rangeDropdown" class="dropdown">
        <option value="9999999" {% if selected_range == '9999999' %}selected{% endif %}>All Time</option>
        <option value="5" {% if selected_range == '5' %}selected{% endif %}>5 min</option>
        <option value="30" {% if selected_range == '30' %}selected{% endif %}>30 min</option>
        <option value="60" {% if selected_range == '60' %}selected{% endif %}>1 hr</option>
        <option value="180" {% if selected_range == '180' %}selected{% endif %}>3 hrs</option>
        <option value="720" {% if selected_range == '720' %}selected{% endif %}>12 hrs</option>
        <option value="1440" {% if selected_range == '1440' %}selected{% endif %}>24 hrs</option>
        <option value="4320" {% if selected_range == '4320' %}selected{% endif %}>3 days</option>
        <option value="10080" {% if selected_range == '10080' %}selected{% endif %}>7 days</option>
        <option value="20160" {% if selected_range == '20160' %}selected{% endif %}>2 weeks</option>
        <option value="40320" {% if selected_range == '40320' %}selected{% endif %}>1 month</option>
        <option value="120960" {% if selected_range == '120960' %}selected{% endif %}>3 months</option>
        <option value="241920" {% if selected_range == '241920' %}selected{% endif %}>6 months</option>
        <option value="483840" {% if selected_range == '483840' %}selected{% endif %}>1 year</option>
        <option value="1451520" {% if selected_range == '1451520' %}selected{% endif %}>3 years</option>
    </select>
    </div>
</div>
<div class="stats-container">
    <div class="rounded-container">
        <label style="font-size:17px;"><i class="fa fa-user" aria-hidden="true" style="color:#10b010;font-size:5vh"></i> Customer Name<br><strong style="font-size:24px;color:#10b010">{{ name }}</strong></label>
    </div>
    <div class="rounded-container2">
        <label style="font-size:17px;"><i class="fa fa-address-card" aria-hidden="true" style="color:#1500ff;font-size:5vh"></i> Customer Account ID<br><strong style="font-size:24px;color:#1500ff">{{ accountID }}</strong></label>
    </div>
    <div class="rounded-container1">
        <label style="font-size:17px;"><i class="fa fa-bolt" aria-hidden="true" style="color:#ff0000;font-size:5vh"></i> Energy Usage(kWh)<br><strong style="font-size:24px;color:#ff0000">{{ kwhUsed|floatformat:1 }}</strong></label>
    </div>
</div>
{% if line_chart %}
<div class="pie-chart-div">
    <div class="single-pie">{{ line_chart|safe }}</div>
    <div class="single-pie">{{ ml_pie|safe }}</div>
</div>
<div class="appliance-energy-div">
    {% for appliance, energy in appliance_energy.items %}
    <div>
        <h3>{{ appliance }}</h3>
        {% if kwhUsed > 0 %}
        <div style="width: 100%; background-color: #e0e0e0; border-radius: 10px;">
            <div style="width: {{ appliance_percentages|get_dict_value:appliance }}%; background-color: #4caf50; height: 20px; border-radius: 10px;">
                <span style="display: block; color: black; padding-left: 5px; padding-right: 5px; position: relative; top: -3px;text-align:center;">
                    {{ appliance_percentages|get_dict_value:appliance|floatformat:1 }}%
                </span>
            </div>
        </div>
        <h3>{{ energy|floatformat:4 }} kWh</h3>
        {% else %}
        <p>No energy data available</p>
        {% endif %}
    </div>
    {% endfor %}
</div> 
</div>
{% else %}
<div class="rounded-container1"><strong style="text-align:center;padding:100px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#ff0000;font-size:5vh"></i> No Data to show for the selected range</strong></div>
</div>
{% endif %}

<script>
    document.getElementById('rangeDropdown').addEventListener('change', function() {
        var selectedRange = this.value;
        window.location.href = '/connection/' + {{meter_number}}+ '/?range=' + selectedRange ;
    });
</script>

{% endblock %}