{% extends "layout.html" %}

{% block title %}
    Kudura: Connections
{% endblock %}

{% block content %}
<div class="body-container">
<h2>Connections</h2>
    <div class="search-container">
        <!-- Search form -->
        <form method="get" action="{% url 'connections_page' %}">
            <input type="text" name="q" value="{{ query }}" placeholder="Search by name, reference, or meter number">
            <button type="submit"><i class="fas fa-search"></i> Search</button>
            <a href="{% url 'connections_page' %}" class="clear-search"><i class="fa fa-eraser" aria-hidden="true"></i> Clear</a>
        </form>
    </div>
    <div class="table-div">
    <table class="table">
        <thead>
            <tr>
                <th class="table_headers">Customer Name</th>
                <th class="table_headers">Customer Reference</th>
                <th class="table_headers">Meter Number</th>
                <th class="table_headers">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in connections_table %}
            <tr>
                <td class="table_content">{{ row.name }}</td>
                <td class="table_content">{{ row.reference }}</td>
                <td class="table_content">{{ row.meterNumber }}</td>
                <td class="table_content"><a href="{% url 'connection_data_page' meter_number=row.meterNumber %}" class="details-link">See more</a></td>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination controls -->
    <div class="pagination">
        <span class="step-links">
            {% if connections_table.has_previous %}
                <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; first</a>
                <a href="?page={{ connections_table.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ connections_table.number }} of {{ connections_table.paginator.num_pages }}.
            </span>

            {% if connections_table.has_next %}
                <a href="?page={{ connections_table.next_page_number }}{% if query %}&q={{ query }}{% endif %}">next</a>
                <a href="?page={{ connections_table.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
</div>

{% endblock %}